{% extends "app/base.html" %}
{% block content %}
<section class="w3l-main-slider" id="home">
    <div class="banner-content">
        <div class="owl-one owl-carousel owl-theme">
            <div class="item">
                <li>
                    <div class="slider-info banner-view bg bg2">
                        <div class="banner-info">
                            <div class="container">
                                <div class="banner-info-bg">
                                    <h6>Care for life</h6>
                                    <h5>Experience, trust and proven success
                                    </h5>
                                    <a class="btn mt-sm-5 mt-4" href="login">View Our Services</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <div class="item">
                <li>
                    <div class="slider-info  banner-view banner-top1 bg bg2">
                        <div class="banner-info">
                            <div class="container">
                                <div class="banner-info-bg">
                                    <h6>Care for your smile</h6>
                                    <h5>Get all the essential
                                        drugs info today</h5>
                                    <a class="btn mt-sm-5 mt-4" href="login">View Our Services</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <div class="item">
                <li>
                    <div class="slider-info banner-view banner-top2 bg bg2">
                        <div class="banner-info">
                            <div class="container">
                                <div class="banner-info-bg">
                                    <h6>Care for life</h6>
                                    <h5>Experience, trust and proven success
                                    </h5>
                                    <a class="btn mt-sm-5 mt-4" href="login">View Our Services</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <div class="item">
                <li>
                    <div class="slider-info banner-view banner-top3 bg bg2">
                        <div class="banner-info">
                            <div class="container">
                                <div class="banner-info-bg">
                                    <h6>Care for your smile </h6>
                                    <h5>Get all the essential
                                        drugs info today</h5>
                                    <a class="btn mt-sm-5 mt-4" href="login">View Our Services</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
        </div>
        <ul class="slide-social-icons list-unstyled">
            <li class="share">Share On :</li>
            <li>
                <a href="#" class="w3pvt_facebook">
                    <span class="fa fa-facebook-f"></span>
                </a>
            </li>
            <li>
                <a href="#" class="w3pvt_twitter">
                    <span class="fa fa-twitter"></span>
                </a>
            </li>
            <li>
                <a href="#" class="w3pvt_dribble">
                    <span class="fa fa-dribbble"></span>
                </a>
            </li>
            <li>
                <a href="#" class="w3pvt_google">
                    <span class="fa fa-google-plus"></span>
                </a>
            </li>
        </ul>
    </div>

</section>
<section class="w3l-specification-6">
    <div class="specification-6-mian py-5">
        <div class="container py-lg-5">
            <div class="row story-6-grids text-left">
                <div class="col-lg-5 story-gd">
                    <img src="static/images/ab1.jpg" class="img-fluid" alt="/">
                </div>
                <div class="col-lg-7 story-gd pl-lg-4">
                    <div class="title-content text-left mb-lg-5 mt-4">
                        <h6 class="sub-title">For a New smile</h6>
                        <h3 class="hny-title">Comprehensive and up-to-date source of drug information.</h3>
                        <p>A drug is any chemical substance other than a nutrient or an essential dietary ingredient,
                            which, when administered to a living organism, produces a biological effect.</p>
                    </div>
                    <div class="skill_info mt-lg-5 mt-4">
                        <div class="stats_left">
                            <div class="counter_grid">
                                <div class="icon_info">
                                    <p class="counter">165</p>
                                    <h4>Daily Searches</h4>
                                    <p class="counter-para">Python Based Proven Solution.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="stats_left">
                            <div class="counter_grid">
                                <div class="icon_info">
                                    <p class="counter">563</p>
                                    <h4>Happy Clients</h4>
                                    <p class="counter-para">24X7 Service.
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}