{% extends "app/base.html" %}
{% block content %}
<nav id="breadcrumbs" class="breadcrumbs">
    <div class="container page-wrapper">
        <a href="/">Home</a> » <span class="breadcrumb_last" aria-current="page">Drugs</span>
    </div>
</nav>
<section class="w3l-contact-main">
    <div class="contact-infhny py-5">
        <div class="container py-lg-5">
            <div class="title-content text-left mb-lg-5 mt-4">
                <h6 class="sub-title">Bringing Best.</h6>
                <h3 class="hny-title">Drugs</h3>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <label class="text-info">{{message}}</label>
                    <div class="table-responsive">
                        <table id="patients" class="table table-stripped">
                            <thead>
                            <tr class="bg-dark text-white">
                                <th></th>
                                <th>Name</th>
                                <th>Info</th>
                                <th colspan="3" class="text-center">Side Effects</th>
                                 <th>Banned?</th>
                                <th>Recommended Doctors</th>
                            </tr>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th class="bg-light">On Child</th>
                                <th class="bg-light">On Adult</th>
                                <th class="bg-light">On Pregnant or Breastfeeding Women</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for drug in drugs %}
                            <tr>
                                <td width="100"><img src="media/drug/{{drug.name}}.jpg" alt=""
                                                     class="img-fluid team-image"/></td>
                                <td>{{ drug.name }}</td>
                                <td>{{ drug.info }}</td>
                                <td>{{ drug.child }}</td>
                                <td>{{ drug.adult }}</td>
                                <td>{{ drug.women }}</td>
                                {%if drug.banned == "yes"%}
                                 <td class="text-danger">Yes<hr>{{ drug.why }}</td>
                                {%else%}
                                <td class="text-success">Not Banned</td>
                                {%endif%}
                                <td><a href="viewdoctors?drug={{ drug.name }}" class="text-success">View</a></td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}