{% extends "admin/base.html" %}
{% block content %}
<nav id="breadcrumbs" class="breadcrumbs">
    <div class="container page-wrapper">
        <a href="login">Logout</a> » <span class="breadcrumb_last" aria-current="page">Add Doctor</span>
    </div>
</nav>
<section class="w3l-contact-main">
    <div class="contact-infhny py-5">
        <div class="container py-lg-5">
            <div class="title-content text-left mb-lg-5 mt-4">
                <h6 class="sub-title">Add Doctor</h6>
                <h3 class="hny-title">Innovation Beyond Imagination.</h3>
            </div>
            <div class="row align-form-map">
                <div class="col-lg-8 form-inner-cont">
                    <form method="post" class="signin-form" enctype="multipart/form-data">
                        {%csrf_token%}
                        <div class="form-input">
                            <label>Photo*</label>
                            <input type="file" name="photo" accept="image/jpeg" required>
                        </div>
                        <div class="form-input">
                            <label>Name*</label>
                            <input type="text" name="name" required>
                        </div>
                         <div class="form-input">
                            <label>Qualification*</label>
                            <input type="text" name="qualification" required>
                        </div>
                        <div class="form-input">
                            <label>Gender*</label>
                            <select name="gender" class="form-control" required>
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                            </select>
                        </div>
                        <div class="form-input">
                            <label>Email*</label>
                            <input type="email" name="email" required>
                        </div>
                        <div class="form-input">
                            <label>Mobile*</label>
                            <input type="text" name="mobile" pattern="[789][0-9]{9}" required>
                        </div>
                        <div class="form-input">
                            <label>Experience*</label>
                            <input placeholder=" " name="experience" type="number" required="">
                        </div>
                        <div class="form-input">
                            <label>Patient Age Group*</label>
                            <select name="agegroup" class="form-control" required>
                                <option value="children">Children</option>
                                <option value="adult">Adult</option>
                            </select>
                        </div>
                        <div class="form-input">
                            <label>Speciality*</label>
                            <input placeholder=" " name="speciality" type="text" required="">
                        </div>
                        <div class="form-input">
                            <label>Address*</label>
                            <textarea name="address" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-contact">Add Profile</button>
                        <div class="form-input">
                            <label class="text-info">{{message}}</label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}